/*********************************************************Sidebar Nav Section*********************************************************************/

.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  height: 100%;
  width: 78px;
  z-index: 1000;
  background-color: #f8f4ff;
  padding: 6px 14px;
}

.sidebar.active {
  width: 250px;
}

.sidebar .logo_content .logo {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.sidebar.active .logo_content .logo img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  opacity: 1;
  visibility: visible;
  margin-right: 5px;
}

.sidebar .logo_content .logo .logo_name {
  font-size: 16px;
  font-weight: 00;
  color: #2e067d;
}

.sidebar #btn {
  position: absolute;
  left: 47.5%;
  top: 6px;
  color: #2e067d;
  font-size: 25px;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-55%);
  transition: left 0.3s ease;
}

.sidebar.active #btn {
  left: 87%;
}

.sidebar #btn:hover {
  color: #fff;
  background: #2e067d;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  top: 0;
  left: 122px;
  transform: translate(-50%, -110%);
  border-radius: 12px;
  line-height: 35px;
  text-align: center;
  background: #2e067d;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  pointer-events: none;
  display: block;
}

.sidebar ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  position: relative;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.sidebar a {
  text-decoration: none;
  color: #2e067d;
  position: relative;
  align-items: center;
}

.sidebar .links_name {
  display: flex;
  border-radius: 12px;
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar ul li a {
  display: flex;
  border-radius: 12px;
  white-space: nowrap;
  text-align: center;
  padding-left: 8px;
}

.sidebar ul li a:hover {
  color: #fff;
  background: #2e067d;
}

.sidebar ul li a.active {
  color: #fff;
  background: #2e067d;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 35px;
  line-height: 50px;
  padding-right: 3px;
  font-size: 20px;
}

/* Revisit for Dashboard's submenu */

/* .sidebar .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
  }
  
  li:hover .submenu {
    display: block;
  } */

.sidebar.active ~ .mainPage {
  filter: blur(2px);
  pointer-events: none; /* prevent clicking on blurred content */
}

.sidebar #btn:hover .tooltip {
  color: #fff;
  background: #2e067d;
  border-radius: 12px;
  opacity: 1;
  top: 90%;
}

.profile #log_out:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 90%;
}

.sidebar ul li:hover .tooltip {
  color: #fff;
  background: #2e067d;
  border-radius: 12px;
  opacity: 1;
  top: 90%;
}

.sidebar.active .tooltip {
  opacity: 0;
  visibility: hidden;
}

/*********************************************************Sidebar Nav Section*********************************************************************/