/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  font-family: 'Poppins', 'Inter', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #212529;
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
  }

  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #f8f4ff;
    padding: 6px 14px;
  }

  .sidebar.active {
    width: 250px;
  }

  .sidebar .logo_content .logo{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }

  .sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
  }

  .logo_content .logo i{
    font-size: 28px;
    margin-right: 10px;
    color: #2e067d;
  }

  .sidebar .logo_content .logo .logo_name{
    font-size: 16px;
    font-weight: 00;
    color: #2e067d;
  }

  .sidebar #btn {
    position: absolute;
    left: 47.5%;
    top: 6px;
    color: #2e067d;
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin-left:5px ;
    text-align: center;
    line-height: 50px;
    transform: translateX(-55%);
  }

  .sidebar.active #btn {
    left: 87%;
  }

  .sidebar #btn:hover {
    color:#fff;
    background: #2e067d;
    border-radius: 12px;
    white-space: nowrap;
  }
  
  .sidebar .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    top: 0;
    left: 122px;
    transform: translate(-50%, -110%);
    border-radius: 12px;
    line-height: 35px;
    text-align: center;
    background: #2e067d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color:#fff;
    pointer-events:none;
    display: block;
  }

  .sidebar ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }

  .sidebar ul li{
    list-style: none;
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
  }

  .sidebar a {
    text-decoration: none;
    color: #2e067d;
    position: relative;
    align-items: center;
  }

  .sidebar .links_name{
    display: flex;
    border-radius: 12px;
    opacity: 0;
    pointer-events: none;
  }

  .sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
  }

  .sidebar ul li a{
    display: flex;
    border-radius: 12px;
    white-space: nowrap;
    text-align: center;
    padding-left: 8px;
  }

  .sidebar ul li a:hover{
    color:#fff;
    background: #2e067d;
  }

  .sidebar ul li a i{
    height: 50px;
    min-width: 35px;
    line-height: 50px;
    padding-right:3px;
    font-size: 20px;
  }

  .sidebar .profile_content {
    position: absolute;
    color: #2e067d;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f4eeff;
  }

  .sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
  }

  .profile_content .profile .profile_details{
    display:flex;
    align-items: center;
  }

  .sidebar.active .profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 1;
    visibility: visible;
  }

  .sidebar .profile .profile_details img{
    opacity: 0;
    visibility: hidden;
  }

  .sidebar.active .profile .profile_details .name_title{
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
  }

  .sidebar.active .profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
    visibility: visible;
  }

  .sidebar .profile .profile_details .name{
    opacity: 0;
    visibility: hidden;
  }

  .sidebar.active .profile .profile_details .title{
    font-size: 12px;
    opacity: 1;
    visibility: visible;
  }

  .sidebar .profile .profile_details .title{
    opacity: 0;
    visibility: hidden;
  }

  .sidebar.active .profile #log_out {
    position: absolute;
    left:87%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar .profile #log_out {
    position: absolute;
    left:47.5%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile #log_out:hover {
    background: #2e067d;
    color: #fff;
  }

  .mainPage {
  position: absolute;
  height: 100px;
  width: calc(100% - 78px);
  left: 78px;
  transition: left 0.3s ease;
  margin-top: 50px;
}

.mainclass .container-lg{
  font-size: 25px;
  font-weight: 600;
  color: #2e067d;
  margin: 12px;
  width: 1096px;
}

.sidebar.active ~.mainPage {
  width: calc(100% - 240px);
  left: 250px;
}

.mainPage #button {
  background: #f6eeff;
  padding: 10px;
  border-radius: 12px;
  width: 350px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.mainPage #button:hover {
  background: #6944a0;
  color: #f6eeff;
  padding: 10px;
  border-radius: 12px;
  width: 350px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

hr.new1 {
  border: 0;
  height: 2px;
  background-color: black;
  font-weight: 900;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.mainPage #kpi-overview {
  margin-top: 27px;
  margin-left: 1px;
  width: 1096px;
}

.mainPage .PerformanceAchievementPerCourse {
  background: #f6eeff;
  border-radius: 12px;
  padding: 10px;
  max-width: 723px;
  border: none;
  font-weight: 600;
  font-size: 22px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-right: 3px;
}

.mainPage .PerformanceAchievementPerCourse ul li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  max-width: 650px;
  border-radius: 5px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

.mainPage .dashboardPendingVerification {
  background: #f6eeff;
  border-radius: 12px;
  padding: 10px;
  max-width: 350px;
  border: none;
  font-weight: 600;
  font-size: 22px;
  margin-left: 23px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mainPage .dashboardPendingVerification .verificationItems {
  font-size: 19px;
  margin-left:5px;
  margin-top: 7px;
}

.mainPage #button.active {
  background: #6944a0;
  color: #f6eeff;
}

.mainPage .studentsOrCoursesDropdown {
  position: relative;
  display: inline-block;
  margin-top: 30px;
}

select {
  appearance: none;
}

.studentsOrCoursesDropdown .dropdown-toggle {
  color: black;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  width: 1096px;
  margin-left: 10px;
  text-align: start;
  list-style:none;
  border:none;
  background: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #f6eeff;
  appearance: none;
}

.mainPage #kpi-management .filters {
  margin-top: 20px;
}

.mainPage #kpi-management .filters .filter-button {
  background: none;
  border: 3px solid #f6eeff;
  opacity: 1;
  padding: 10px 20px;
  border-radius: 12px;
  width: 220px;
  cursor: pointer;
  margin-right: 10px;
}

.mainPage #kpi-management .filters .filter-button:hover {
  background: #6944a0;
  color: #fff;
}

.filters .search {
  border: none;
  border:3px solid #f6eeff;
  opacity: 1;
  background:none;
  padding: 10px 20px;
  border-radius: 12px;
  width:620px;
}

.mainPage #kpi-management .KPITable {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 1px;
}

.KPITable table th, table td {
  padding: 12px;
  border: #f6eeff;
  text-align: left;
  vertical-align: middle;
}

.KPITable table th {
  background-color: #f6eeff;
}

.mainPage #kpi-verification {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 1px;
  background: #f6eeff;
  border-radius: 12px;
  padding: 10px;

}

.mainPage #kpi-verification .text{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  padding-left: 12px;
}

.mainPage #kpi-verification table th, table td{
  padding-left: 12px;
  border: #f6eeff;
  text-align: left;
  vertical-align: middle;
}


  /* .sidebar #btn:hover .tooltip{
    color:#fff;
    background: #2e067d;
    border-radius: 12px;
    transition: all 0.5s ease;
    opacity: 1;
    top: 90%;
  } */

  /* .profile #log_out:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    top: 90%;
  }

  .sidebar.active .profile #log_out:hover .tooltip {
    opacity: 0;
    visibility: hidden;
  } */

  /* .sidebar ul li:hover .tooltip{