/* Global Settings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 20px 0px 0px 20px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.mainPage {
  position: relative;
  height: auto;
  min-height: 100px;
  width: 99%;
  padding: 60px 0px 0px 70px;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s ease;
}

/*********************************************************Main Class Section*********************************************************************/

/*********************************************************Buttons Section*********************************************************************/

.mainPage button {
  background: #f6eeff;
  padding: 10px;
  border-radius: 12px;
  border: none;
}

.mainPage .dashboardBtn:hover,
.mainPage .managementBtn:hover,
.mainPage .verificationBtn:hover {
  background: #6944a0;
  color: #fff;
}

.mainPage #button.active {
  background: #6944a0;
  color: #f6eeff;
}

.mainPage .welcomeHeader {
  font-size: 45px;
  margin: 30px 10px 20px 0px;
  color: #2e067d;
  font-weight: medium;
}

/*********************************************************Buttons Section*********************************************************************/

/*********************************************************Overview Section*********************************************************************/

hr.new1 {
  border: 0;
  height: 2px;
  background-color: black;
  font-weight: 900;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.mainPage #kpi-overview {
  display: flex;
  margin: auto;
  gap: 20px;
}

.mainPage .PerformanceAchievement {
  background: #f4eeff;
  border-radius: 12px;
  padding: 10px;
  flex: 3;
  border: none;
  font-weight: 600;
  font-size: 22px;
}

.mainPage .PerformanceAchievement ul li {
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

.mainPage .dashboardPendingVerification {
  background: #f6eeff;
  border-radius: 12px;
  padding: 10px;
  border: none;
  flex: 1.43;
  font-weight: 600;
  font-size: 22px;
}

.mainPage .dashboardPendingVerification hr.new1 {
  margin-bottom: 0px;
}

.mainPage .dashboardPendingVerification button {
  font-size: 20px;
  font-weight: 550;
  left: 0;
  padding: 10px 0px 0px 0px;
}

.mainPage .dashboardPendingVerification button:hover {
  color: #6944a0;
}

/*********************************************************Overview Section*********************************************************************/

/*********************************************************Management Section*********************************************************************/

.mainPage #kpi-management {
  margin-top: 20px;
  padding: 10px;
  background: #f4eeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 12px;
}

#kpi-management .text {
  font-size: 22px;
  font-weight: 600;
  left: 10px;
  width: 100%;
  text-align: left;
  padding: 0px 10px 0px 10px;
}

#kpi-management hr.new1 {
  width: 98.5%;
  align-self: flex-center;
}

#kpi-management .row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.mainPage .studentsOrCoursesDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  display: inline-block;
}

.studentsOrCoursesDropdown select {
  appearance: none;
}

select:focus {
  border-color: #2e067d;
  outline: none;
}

.studentsOrCoursesDropdown .dropdown-toggle {
  width: 98.5%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
  background: none;
}

.studentsOrCoursesDropdown #dropdown-icon {
  position: absolute;
  left: 94%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 35px;
  color: black;
}

.mainPage #kpi-management .filters {
  margin: 15px;
  width: 98.5%;
  display: flex;
  border-radius: 12px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.mainPage #kpi-management .filters button {
  flex: 1;
  cursor: pointer;
  background: none;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 20px;
}

.mainPage #kpi-management .filters button:hover {
  background: #6944a0;
  color: #fff;
  border: 2px solid transparent;
}

.filters .search {
  border: none;
  border: 2px solid black;
  opacity: 1;
  background: none;
  padding: 10px 20px;
  border-radius: 12px;
  flex: 2;
}

.mainPage #kpi-management .KPITable {
  width: 98.5%;
  border-radius: 12px;
  margin-bottom: 5px;
  border: 0.5px solid #f4eeff;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.KPITable table {
  width: 100%;
  margin: 0 auto;
  border: none;
  vertical-align: middle;
}

.KPITable table th {
  font-weight: 500;
  padding: 10px;
  background: #6944a0;
  color: #fff;
}

.KPITable table select {
  border-radius: 10px;
  background: none;
  padding: 5px;
  color: black;
  border: 1.5px solid black;
}


.KPITable table th:last-child {
  text-align: center;
}

.KPITable table th:first-child {
  width: 20%;
}

.KPITable table td:last-child {
  text-align: center;
}

.KPITable table td {
  padding-left: 10px;
  padding-right: 10px;
}

.KPITable table td button {
  background: none;
  font-size: 25px;
}

.KPITable table th,
.KPITable table td {
  border: none;
  text-align: left;
}

.KPITable table tr:nth-child(odd) {
  background: #f8f4ff;
}

.KPITable table tr:nth-child(even) {
  background: #f6eeff;
}

/*********************************************************Management Section*********************************************************************/

/*********************************************************Verification Section*********************************************************************/

.mainPage #kpi-verification {
  margin-top: 20px;
  padding: 10px;
  background: #f4eeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 12px;
}

.mainPage #kpi-verification .text {
  font-size: 22px;
  font-weight: 600;
  left: 10px;
  width: 100%;
  text-align: left;
  padding: 0px 10px 0px 10px;
}

#kpi-verification hr.new1 {
  width: 100%;
  align-self: flex-center;
}

.mainPage #kpi-verification .verificationTable {
  width: 98.5%;
  border-radius: 12px;
  margin-bottom: 5px;
  border: 0.5px solid #f4eeff;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.verificationTable table {
  width: 100%;
  margin: 0 auto;
  border: none;
}

.verificationTable table th {
  font-weight: 500;
  padding: 10px;
  background: #6944a0;
  color: #fff;
}

.verificationTable table th:first-child {
  width: 20%;
}

.verificationTable table td {
  vertical-align: middle;
  background: none;
}

.verificationTable table td button {
  font-size: 15px;
  background: none;
  border: 1.5px solid black;
  color: black;
}

.verificationTable table td button:hover {
  background: #6944a0;
  color: #fff;
  border: 1.5px solid transparent;
}

.verificationTable table input[type="text"] {
  border-radius: 10px;
  background: none;
  padding: 5px;
  color: black;
}

.verificationTable table select {
  border-radius: 10px;
  background: none;
  padding: 5px;
  color: black;
  border: 1.5px solid black;
}

.verificationTable table td:nth-child(5) {
  text-align: center;
}

.verificationTable table td:nth-child(5) select {
  width:100%;
}

.verificationTable {
  background: #f0f0f0;
}

.verificationTable table th,
.verificationTable table td {
  border: none;
  text-align: left;
}

.verificationTable table tr:nth-child(odd) {
  background: #f8f4ff;
}

.verificationTable table tr:nth-child(even) {
  background: #f6eeff;
}

/*********************************************************Verification Section*********************************************************************/
/*********************************************************Custom Footer Section*********************************************************************/
.custom-footer {
  background-color: #2C0057;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  color: white;
  flex-wrap: wrap;
}

.footer-logo {
  width: 25%;
  height: 210px;
  object-fit: contain;
}

.footer-contact h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact li {
  margin-bottom: 0.5rem;
}

.footer-copy {
  font-size: 0.875rem;
  margin-top: 1rem;
}
