/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  font-family: 'Poppins', 'Inter', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #f8f4ff;
    padding: 6px 14px;
  }

  .sidebar.active {
    width: 250px;
  }

  .sidebar .logo_content .logo{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }

  .sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
  }

  .logo_content .logo i{
    font-size: 28px;
    margin-right: 10px;
    color: #2e067d;
  }

  .sidebar .logo_content .logo .logo_name{
    font-size: 16px;
    font-weight: 00;
    color: #2e067d;
  }

  .sidebar #btn {
    position: absolute;
    left: 47.5%;
    top: 6px;
    color: #2e067d;
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin-left:5px ;
    text-align: center;
    line-height: 50px;
    transform: translateX(-55%);
  }

  .sidebar.active #btn {
    left: 87%;
  }

  .sidebar #btn:hover {
    color:#fff;
    background: #2e067d;
    border-radius: 12px;
    white-space: nowrap;
  }
  
  .sidebar .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    top: 0;
    left: 122px;
    transform: translate(-50%, -110%);
    border-radius: 12px;
    line-height: 35px;
    text-align: center;
    background: #2e067d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color:#fff;
    pointer-events:none;
    display: block;
  }

  .sidebar ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }

  .sidebar ul li{
    list-style: none;
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
  }

  .sidebar a {
    text-decoration: none;
    color: #2e067d;
    position: relative;
    align-items: center;
  }

  .sidebar .links_name{
    display: flex;
    border-radius: 12px;
    opacity: 0;
    pointer-events: none;
  }

  .sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
  }

  .sidebar ul li a{
    display: flex;
    border-radius: 12px;
    white-space: nowrap;
    text-align: center;
    padding-left: 8px;
  }

  .sidebar ul li a:hover{
    color:#fff;
    background: #2e067d;
  }

  .sidebar ul li a i{
    height: 50px;
    min-width: 35px;
    line-height: 50px;
    padding-right:3px;
    font-size: 20px;
  }

  .sidebar .profile_content {
    position: absolute;
    color: #2e067d;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f4eeff;
  }

  .sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
  }

  .profile_content .profile .profile_details a {
    display:flex;
    align-items: center;
  }

  .sidebar.active .profile .profile_details a img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 1;
    visibility: visible;
  }

  .sidebar .profile .profile_details a img{
    opacity: 0;
    visibility: hidden;
  }

  .sidebar.active .profile .profile_details a .name_title{
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
  }

  .sidebar.active .profile .profile_details a .name{
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
    visibility: visible;
  }

  .sidebar .profile .profile_details a .name{
    opacity: 0;
    visibility: hidden;
  }

  .sidebar.active .profile .profile_details a .title{
    font-size: 12px;
    opacity: 1;
    visibility: visible;
  }

  .sidebar .profile .profile_details a .title{
    opacity: 0;
    visibility: hidden;
  }

  .sidebar.active .profile #log_out {
    position: absolute;
    left:87%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar .profile #log_out {
    position: absolute;
    left:47.5%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile #log_out:hover {
    background: #2e067d;
    color: #fff;
  }

  .mainPage {
  position: absolute;
  height: 100px;
  width: calc(100% - 78px);
  left: 50px;
  transition: left 0.3s ease;
  margin: 50px 20px 20px 20px;
  justify-content: center;
}

.mainclass .container-lg{
  font-size: 25px;
  font-weight: 600;
  width: 100%;
}

.sidebar.active ~.mainPage {
  width: calc(100% - 240px);
  left: 250px;
}

.mainPage button {
  background: #f6eeff;
  padding: 10px;
  border-radius: 12px;
  border: none;
}

.mainPage .dashboardBtn:hover,
.mainPage .managementBtn:hover,
.mainPage .verificationBtn:hover {
  background: #6944a0;
  color: #f6eeff;
}

.mainPage #button.active {
  background: #6944a0;
  color: #f6eeff;
}

hr.new1 {
  border: 0;
  height: 2px;
  background-color: black;
  font-weight: 900;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.mainPage #kpi-overview {
  display: flex;
  margin: auto;
  gap: 20px;
}

.mainPage .PerformanceAchievementPerCourse {
  background: #f4eeff;
  border-radius: 12px;
  padding: 10px;
  flex:3;
  border: none;
  font-weight: 600;
  font-size: 22px;
}

.mainPage .PerformanceAchievementPerCourse ul li {
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

.mainPage .dashboardPendingVerification {
  background: #f6eeff;
  border-radius: 12px;
  padding: 10px;
  border: none;
  flex:1.43;
  font-weight: 600;
  font-size: 22px;
}

.mainPage .dashboardPendingVerification .verificationItems {
  font-size: 17px;
  margin:0px 5px 5px 5px;
  font-weight: normal;
}

.mainPage #kpi-management {
  margin-top: 20px;
  padding: 10px;
  background: #f4eeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 12px;
}

#kpi-management .text{
  font-size: 22px;
  font-weight: 600;
  left: 10px;
  width: 100%;
  text-align: left;
  padding: 0px 10px 0px 10px;
}

#kpi-management hr.new1 {
  width: 98.5%;
  align-self: flex-center;
}

#kpi-management .row{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.mainPage .studentsOrCoursesDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  display: inline-block;
}

select {
  appearance: none;
}

select:focus {
  border-color: #2e067d;
  outline: none;
}

.studentsOrCoursesDropdown .dropdown-toggle {
  width: 98.5%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
  background: none;
}

#dropdown-icon {
  position: absolute;
  left: 94%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 35px;
  color: black;
}

.mainPage #kpi-management .filters {
  margin: 15px;
  width: 98.5%;
  display: flex;
  border-radius: 12px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.mainPage #kpi-management .filters button {
  flex: 1;
  cursor: pointer;
  background: none;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 20px;
}

.mainPage #kpi-management .filters button:hover {
  background: #6944a0;
  color: #fff;
  border: 2px solid transparent;
}

.filters .search {
  border: none;
  border:2px solid black;
  opacity: 1;
  background:none;
  padding: 10px 20px;
  border-radius: 12px;
  flex: 2;
}

.mainPage #kpi-management .KPITable {
  width: 98.5%;
  border-radius: 12px;
  margin-bottom: 5px;
  border: 2px solid black;
  overflow: hidden;
}

.KPITable table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  
}

.KPITable table th{
  background: #f3eeff;
}

.KPITable table th, 
.KPITable table td {
  padding: 12px;
  border: 1px solid #f6eeff;
  text-align: left;
}

.KPITable table td {
  background: #fff;
  border-top: 1.5px solid black;
}

.KPITable table tr:nth-child(odd) {
  background-color: #2e067d;
}

.KPITable table tr:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

.KPITable table tr:hover {
  background-color: #e0e0e0; /* Light grey on hover */
}

.KPITable table tr:first-child td {
  border-top: none; /* removes top border on first row */
}

.mainPage #kpi-verification {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 1px;
  background: #f6eeff;
  border-radius: 12px;
  padding: 10px;
}

.mainPage #kpi-verification .text{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  padding-left: 12px;
}

.mainPage .verificationTable table th, table td{
  padding: 12px;
  border: 1px solid #f6eeff; /* fixed */
  text-align: left;
}

.verificationTable table th {
  background: #f6eeff;
}


  /* .sidebar #btn:hover .tooltip{
    color:#fff;
    background: #2e067d;
    border-radius: 12px;
    transition: all 0.5s ease;
    opacity: 1;
    top: 90%;
  } */

  /* .profile #log_out:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    top: 90%;
  }

  .sidebar.active .profile #log_out:hover .tooltip {
    opacity: 0;
    visibility: hidden;
  } */

  /* .sidebar ul li:hover .tooltip{